@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: black;
  }
}
@keyframes blink-fade {
  50% {
    border-color: #00bfff;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-60px);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes bounce {
  50% {
    transform: translateY(-50px);
  }
}
@keyframes transitionBlue{
  70%{
    background: #00bfff;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.button:nth-child(1) {
  animation: fadeIn 1s ease-in 3s, moveRight 0.7s cubic-bezier(1, 0, 0, 0.5) 3s, transitionBlue 1s linear 3.2914285714s, bounce 1s ease-in-out 3.0853333333s;
}

.button:nth-child(2) {
  animation: fadeIn 1s ease-in 3s, moveRight 0.7s cubic-bezier(1, 0, 0, 0.5) 3s, transitionBlue 1s linear 3.3828571429s, bounce 1s ease-in-out 3.1706666667s;
}

.button:nth-child(3) {
  animation: fadeIn 1s ease-in 3s, moveRight 0.7s cubic-bezier(1, 0, 0, 0.5) 3s, transitionBlue 1s linear 3.4742857143s, bounce 1s ease-in-out 3.256s;
}

.button:nth-child(4) {
  animation: fadeIn 1s ease-in 3s, moveRight 0.7s cubic-bezier(1, 0, 0, 0.5) 3s, transitionBlue 1s linear 3.5657142857s, bounce 1s ease-in-out 3.3413333333s;
}
html {
  height: 100%;
  font-family: monospace;
}
.format {
  display: flex;
  flex-direction: row;
}
.home {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.type {
  border-right: 0.1em solid transparent;
  /* fallback */
  width: 11ch;
  /* # of chars */
  margin: 2em 0.2em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(11, end), blink-caret 1s ease-in-out 3 alternate, blink-fade 2s ease-out 3s;
  /* # of steps = # of chars */
}
.button {
  width: 75px;
  height: 75px;
  background: lightgrey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden; 
}
.icon {
  width: 2.12em;
  height: 2.12em;
  border-radius: 50%;
}
.caption {
  width: 60px;
  height: 60px;
  display: table-cell;
  border: solid black;
  vertical-align: middle;
}
.contact-info {
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.contact-icon {
  width: 0.769em;
  height: 0.769em;
}
.box {
  width: 0.769em;
  height: 0.769em;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
