@keyframes typing { from { width: 0; } }
@keyframes blink-caret {50%{border-color: black}}
@keyframes blink-fade {50% {border-color: #00BFFF;}}

html{
  height: 100%;
  font-family: monospace;
}
.format{
  display: flex;
  flex-direction: row;
}
.home{
  margin:0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.type{
	border-right: .1em solid transparent;
	width: 9em; /* fallback */
	width: 11ch; /* # of chars */
	margin: 2em 0.2em;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 2s steps(11, end), /* # of steps = # of chars */
	           blink-caret 1s ease-in-out 3 alternate,
             blink-fade 2s ease-out 3s;
}
.button{
  width: 75px;
  height: 75px;
  background: lightgrey;
/*   display: none; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content:center;
}
.icon{
  width: 60px;
  height: 60px;
  border-radius:50%;
}
.contact-icon{
  width: 25px;
  height: 25px;
}
.contact-info{
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.box{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 5px;
}
