h3 {
  margin-vertical: 1.6em;
}

html {
    height: 100%;
    font-family: 'Slabo 13px', serif;
}

.bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75px;
}

.button {
  min-width: 75px;
  height: 75px;
  background: lightgrey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-icon {
  width: 1.5em;
  height: 1.5em;
}

.central {
  margin: 0;
  padding-left: 10%;
  height: 100%;
  width: 70%;
  justify-content: center;
  position: absolute;
  top: 15%;
}

.contact-info {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.contact-icon {
  width: 0.769em;
  height: 0.769em;
}

.contact-button {
  width: 0.769em;
  height: 0.769em;
  margin: 6.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description{
  margin-left: 1.5em;
  height: 75px;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
}

.format {
  display: flex;
  flex-direction: row;
  height: 40%;
}

#blue {
  color: #00bfff
}
#yellow {
  color: #f2d736
}
#red {
  color: red
}
