h3 {
  margin-vertical: 1.6em;
}

html {
    height: 100%;
    font-family: 'Slabo 13px', serif;
}

.central {
  margin: 0;
  padding-left: 10%;
  height: 100%;
  width: 70%;
  justify-content: center;
  position: absolute;
  top: 15%;
}

.description{
  margin-left: 1.5em;
  height: 75px;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
}

.format {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#blue {
  color: #00bfff
}
#yellow {
  color: #f2d736
}
#red {
  color: red
}
