html {
  height: 100%;
  font-family: monospace;
}

.bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75px;
}

.button {
  width: 75px;
  height: 75px;
  background: lightgrey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden; 
}

.button-icon {
  width: 2.12em;
  height: 2.12em;
  border-radius: 50%;
}

.central {
  margin: 0;
  padding-left: 10%;
  height: 100%;
  width: 60%;
  justify-content: center;
}

.contact-info {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.contact-icon {
  width: 0.769em;
  height: 0.769em;
}

.contact-button {
  width: 0.769em;
  height: 0.769em;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description{
  margin-left: .5em;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  white-space: nowrap;
}

.format {
  display: flex;
  flex-direction: row;
}

.home {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

